<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" align=center>Persona Física</h1>
    <p class="lead" align=center>Únete a nosotros, mejora tus finanzas y haz crecer tu empresa</p>

  </div>
</div>
<!--
<div class="card" style="width: 45rem;">
  <div class="container-fluid">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="inputRFC">RFC</label>
          <input type="text" class="form-control" id="RFC" placeholder="Introduce tu RFC">
          <small id="emailHelp" class="form-text text-muted">Comprobaremos la veracidad de tu RFC</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>


    </div>
  </div>
</div>-->

<div class="container-fluid" style="width: 45rem;">
  <div class="card-body">
    <form>
      <div class="form-group" align=center>
        <label for="inputRFC">RFC</label>
        <input type="text" class="form-control" id="RFC" placeholder="Introduce tu RFC" align=center>
        <small id="emailHelp" class="form-text text-muted">Comprobaremos la veracidad de tu RFC</small>
      </div>
      <!--
      <label>RFC:</label>
      <input type="text" id="rfc_input" style="width:100%;" oninput="validarInput(this)" placeholder="Ingrese su RFC">
      <pre id="resultado"></pre>
      <div class="form-group" align=center>
        <label for="exampleInputPassword1">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" align=center>
      </div>
-->
      <div class="form-group" align=center>
        <label for="inputNombre">Nombre</label>
        <input type="text" class="form-control" id="Nombre" placeholder="Introduce tu Nombre" align=center>

        <label for="inputApellidos">Apellidos</label>
        <input type="text" class="form-control" id="Apellidos" placeholder="Introduce tus Apellidos" align=center>
      </div>

      <div class="form-group" align=center>
        <label for="exampleInputEmail1">Correo electrónico</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Introduce tu correo electrónico">
      </div>

      <div class="form-group" align=center>
        <label for="exampleInputPassword1">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>

      <div align=center>
        <button type="submit" class="btn btn-primary">Registrarme</button>
      </div>
    </form>


  </div>
</div>
