<img src="./../assets/img/fondo.JPG" class="img-fluid" alt="Responsive image">
<br> <br> <hr>
<h1 style="text-align: center"> Newsroom BBVA </h1>
<br>

<div class="card-deck d-flex justify-content-center col-12">
  <div class="card">
    <img src="./../../assets/img/torre.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">BBVA en Mexico concede mas de 510,000 millones de pesos en credito para las familias</h5>
      <p class="card-text">El Grupo Financiero GFBB refrenda su compromiso con la bancarizacion en el pais con una robusta oferta de servicios financieros a traves de canales digitales, red de sucursales, corresponsales bancarios y cajeros automaticos.</p>
    </div>
    <div class="card-footer">
      <small class="text"> <a href=""> Ir a Newsroom BBVA </a></small>
    </div>
  </div>
  <div class="card">
    <img src="./../../assets/img/cajero.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cuatro medidas de seguridad para retirar efectivo en cajeros automaticos</h5>
      <p class="card-text">Hay una serie de medidas basicas para prevenis robos o fraudes en cajeros automaticos y otras para proteger el dinero en caso de una situacion desafortunada.</p>
    </div>
    <div class="card-footer">
      <small class="text"> <a href="">  Ir a Newsroom BBVA  </a></small>
    </div>
  </div>
  <div class="card">
    <img src="./../../assets/img/cdmx.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mexico mantiene estabilidad economica pese a menos crecimiento y mayor incentidumbre</h5>
      <p class="card-text">Los riesgos para la economia global del conflicto comercial entre Estador Unidos y China se han acentuado, lo cual hace prever que la debilidad de la actividad manufacturera global continuara afectando al crecimiento economico mexicano. Asi lo destaca BBVA en el Informe "Situacion Mexico", correspondiente al tercer trimestre de 2019.</p>
    </div>
    <div class="card-footer">
      <small class="text"> <a href=""> Ir a Newsroom BBVA  </a></small>
    </div>
  </div>
</div>


<br>
